.login-container {
    max-width: 600px;
    margin: 10px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lineal-gradient(#62bef8, #dbf0fe);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}


.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
}

.signup-text a {
    color: #329cf3;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.forgot-password {
    text-align: right;
    margin-top: -20px; /* Ajusta la posición vertical según sea necesario */
}

.forgot-password a {
    color: #329cf3;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #329cf3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
