/* Estilos para el formulario de registro */

.client-container {
  width: 400px;
  margin: 10px auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #34AF6D, #d8f3df);
  background-color: #34AF6D;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input[type="date"],
.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #c56767;
  border-radius: 5px;
}

.form-group input[type="contrasena"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #c56767;
  border-radius: 5px;
}

.container {
  position: relative;
}

.boton,
.boton1 {
  width: 27%;
  padding: 10px;
  background-color: #34AF6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.boton {
  float: left;
}

.boton1 {
  float: right;
}

.alert {
  position: absolute;
  bottom: -30px;
  width: 100%;
  /* Ajusta el fondo del alert según tus necesidades */
  color: rgb(0, 0, 0);
}


/* Estilos específicos para los campos */

#nombre,
#apellidos,
#dni,
#ciudad,
#email,
#contrasena {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Puedes agregar más estilos personalizados según sea necesario */