      <!-- Start Landing Page -->
      <span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
      <div class="landing-page">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">  
            <title>Tu Aplicación</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
            <link rel="stylesheet" href="pagina-bienvenida.component.css" />

          </head>
          <body>
            <header> 
              
            
            <div class="container">
                <h1> <i class="fab fa-slack"></i>MueveTIC</h1>

                <ul class="links">
                
                <li>HOME</li>
                <li>SOBRE NOSOTROS</li>
                <li>INFO</li>
                <li><a href="#"><a routerLink="/registro-usuarios">
                    <span class="nav-item"> REGISTRATE</span>
                  </a>
                  </a></li>
                </ul>
            </div>
            
            </header>
            <div class="content">
            <div class="container">
                <div class="info">
                <h1>Eléctrico por diseño, sostenible por elección.</h1>
                
                    <button routerLink="/login">
                      <span class="nav-item">LOGIN</span>
                    </button>
                  
                </div>
                <div class="image">
                <img src="https://i.postimg.cc/JnSMHMpN/comparing-electric-car-versus-gasoline-600nw-2238578539.webp">
                </div>
            </div>
            </div>
          </body>
        </div>
        <!-- End Landing Page -->