      <!-- Start Landing Page -->
      <span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
      <div class="landing-page">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">  
            <title>Tu Aplicación</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
            <link rel="stylesheet" href="pagina-bienvenida.component.css" />
            <!-- Google font -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
          </head>
          <body>
            <header> 
              
            
            <div class="container">
                <h1> <i class="fab fa-slack"></i> MueveTIC</h1>

                <ul class="links">
                
                <li>HOME</li>
                <li>SOBRE NOSOTROS</li>
                <li> <i class="fas fa-info"></i> INFO</li>
                <div id="account-container"></div>
                <li><a href="#"><a routerLink="/registro-usuarios">
                    <span class="nav-item">REGISTRATE <i class="fas fa-user-plus"></i></span>
                  </a>
                  </a></li>
                </ul>
            </div>
            
            </header>
            <div class="content">
            <div class="container">
                <div class="info">
                <h1>Eléctrico por diseño, sostenible por elección. <i class="fas fa-plug"></i></h1>
                <p>La movilidad eléctrica está transformando el mundo tal y como lo conocemos.
                
                    <button routerLink="/login">
                      <span class="nav-item"><i class="fas fa-user"> </i> LOGIN</span>

                    </button>
                </div>
                <div class="image">
                <img alt src="https://i.postimg.cc/JnSMHMpN/comparing-electric-car-versus-gasoline-600nw-2238578539.webp">
                </div>
            </div>
            </div>
          </body>
        </div>
        <!-- End Landing Page -->