/* Estilos para el formulario de registro */

.registro-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #62bef8, #dbf0fe);
    background-color: #62bef8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #329cf3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2059ad;
  }
  
  /* Estilos específicos para los campos */
  
  #nombre,
  #apellidos,
  #dni,
  #ciudad,
  #email,
  #contrasena,
  #repetirContrasena {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Puedes agregar más estilos personalizados según sea necesario */
  