<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regístrate</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="registro-usuarios.component.css" />

</head>

<body>
  <div class="login-card" *ngIf="!authResponse.mfaEnabled">
    <div class="column">
      <h1>Regístrate </h1>
      <h2>Únete a nuestro sistema</h2>
      <form (submit)="submitRegistro()">
        <div class="form-group">
          <input type="text" id="nombre" name="nombre" class="form-group" placeholder="Nombre"
            [(ngModel)]="userData.nombre" required>
        </div>
        <div class="form-group">
          <input type="text" id="apellidos" name="apellidos" class="form-group" placeholder="Apellidos"
            [(ngModel)]="userData.apellidos" required>
        </div>
        <div class="form-group">
          <input type="text" id="dni" name="dni" class="form-group" placeholder="DNI" [(ngModel)]="userData.dni"
            required>
        </div>
        <div class="form-group">
          <input type="date" id="fechaNan" name="fechaNan" class="form-group" placeholder="fechaNan"
            [(ngModel)]="userData.fecha" required>
        </div>
        <div class="form-group">
          <input type="email" id="email" name="email" class="form-group" placeholder="email"
            [(ngModel)]="userData.email" required>
        </div>
        <div class="form-group">
          <select type="carnet" id="carnet" name="carnet" class="form-group" placeholder="carnet"
            [(ngModel)]="userData.carnet" required>
            <option value="coche">Coche</option>
            <option value="moto">Moto</option>
            <option value="ambos">Ambos</option>
            <option value="ninguno">Ninguno</option>
          </select>
        </div>
        <div class="form-group">
          <input type="telefono" id="telefono" name="telefono" class="form-group" placeholder="telefono"
            [(ngModel)]="userData.telefono" required>
        </div>
        <div class="form-group">
          <input type="password" id="contrasena" name="contrasena" class="form-group" placeholder="Contraseña"
            [(ngModel)]="userData.contrasena" required>
        </div>
        <div class="form-group">
          <input type="password" id="repetirContrasena" name="repetirContrasena" class="form-group"
            placeholder="Repetir Contraseña" [(ngModel)]="userData.repetirContrasena" required>
        </div>
        <div class="form-group">
          <p> ¿Añadir un doble factor de autenticación?</p>
          <input type="checkbox" id="mFaEnabled" name="mFaEnabled" class="form-group" placeholder="mFa"
            [(ngModel)]="userData.mFaEnabled" required>
          <p>Google Authenticator</p>
        </div>

        <button type="submit">Registrarse</button>
        <span id="mensaje" style="display: none;">oculto</span>
      </form>
    </div>
  </div>



  <div class="login-card" *ngIf="authResponse.mfaEnabled">
    <div class ="column">
      <h2>Doble Factor de Autenticación</h2>
    <form (submit)="verifyTfa()">
      <div class="qr-code">
        <img [src]="authResponse.secretImageUri" alt="QR Code">
      </div>
      <div class="form-group">
        <h3>Introduzca los 6 digitos generados por la aplicacion (google authenticator)</h3>
        <input type="text" id="otpCode" name="otpCode" class="form-group"
           [(ngModel)]="userData.otpCode"
          required>
      </div>
      <button type="submit"> Verificar </button>
    </form>
    </div>
  </div>
</body>
</html>