<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Añadir Coches</h2>
        <!--form (submit)="onClickEnviar()">
          < Agrega campos de formulario relacionados con el coche aquí >
          <button type="submit">Enviar</button>
        </form -->
        <button (click)=onClickEnviar() >Enviar</button>
      </div> 
      
</body>
</html>

  
  
