
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Tu Aplicación</title>
</head>
<body>
  <div class="header">
    <h1>Tu Aplicación</h1>
  </div>
  <div class="app-container">
    <div class="menu">
      <!-- Menú con enlaces a las opciones -->
      <ul>
        <li><a routerLink="/reservas">Reservas</a></li>
        <li><a routerLink="/vehiculos">Vehículos</a></li>
        <li><a routerLink="/usuarios" class="active-link">Usuarios</a></li>
      </ul>
    </div>
    <div class="content">
      <table class="tabla_usuarios">
        <thead>
          <tr id="header-row">
            <th>DNI</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Ciudad</th>
            <!-- Agrega más columnas para cada campo de tu tabla "vehiculos" -->
          </tr>
        </thead>
        <tbody id="table-body">
          <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.dni}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.ciudad}}</td>
            <!-- Agrega más columnas para cada campo de tu tabla "vehiculos" -->
        </tbody>
      </table>
      <!-- Área de contenido donde se cargarán los componentes -->
      <router-outlet></router-outlet>
    </div>
    
  </div>
</body>
</html>
